<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lapangab</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel='stylesheet' href='../css/main-style.css'>
</head>

<body>
    <div class="header">
        Hi! Selamat Datang
    </div>

    <div class="sosmed">
        <ul>
            <li>
                <a href="https://www.instagram.com/situkang_ngoding">
                    <img src="../img/icon/instagram.png" alt="instagram">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../img/icon/facebook.png" alt="facebook">
                </a>
            </li>
            <li>
                <a href="https://github.com/WildanPratama007">
                    <img src="../img/icon/git.png" alt="youtube"> </a>
            </li>
            <li>
                <a href="#">
                    <img src="../img/icon/whatsapp.png" alt="whatsapp">
                </a>
            </li>
        </ul>
    </div>

    <div class="lapangab">
        <img class="logo" src="../img/wildannn.png" alt=" logo">
        <h1 class="nama-logo">Muhammad Wildan Pratama</h1>
        <h1 class="nama-logo">Bangkit 2023 Cohort-CC</h1>
    </div>

    <div class="Copyright2">
    </div>

    <div class="row konten">
        <div class="col-sm-6">
            <h1><b> My Profile</b></h1>
            <p>I am an active student of the Informatics Engineering Study Program at Yarsi University. I am interested
                in Technology, especially in Networking and Machine Learning. I want to develop my expertise in these
                fields so that I can become an expert in these fields. I am currently participating in the Bangkit
                Program held by the Dicoding Indonesia foundation. This activity is in collaboration with GoTo, Gojek,
                and Traveloka. The Bangkit activity itself has been held since 2020.</p>
        </div>
        <class class="col-sm-6">
            <h1><b> Personal Information</b></h1>

            <table>
                <tr>
                    <td>Address: Jl Kebon Bawang XI, No.32 Rt,04/001</td>
                </tr>
                <tr>
                    <td> Age: 22 Years Old</td>
                </tr>
                <tr>
                    <td> e-mail: wildanmuh97@gmail.com</td>
                </tr>
            </table>
            <button type="button" class="btn btn-outline-primary" style="margin-top: 10px;"><a
                    href="https://drive.google.com/file/d/1b18MRd0AdF95DwrK8Fnr0X63YAfTCHrU/view?usp=share_link">Selengkapnya</a></button>

    </div>
    </div>


    <div class="Copyright">
        Ⓒ Copyright 2023
    </div>

</body>

</html>